<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../includes/header.ejs %>
</head>
<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
          <h1><%= title %></h1>
        </div>
    </div>
    <main>
        <h1>test</h1> 
    </main>
</body>
</html>