<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <main>
        <form method="POST" action="/prove02/display">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title"><br><br>
            <label for="summary">Summary:</label>
            <input type="text" name="summary" id="summary"></br></br>
            <button type="submit">Submit</button></form></br>
        </form>
        <form method="GET" action="/prove02/display">
            <button type="submit">Display input</button>
        </form>
    </main>
</body>
</html>