<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <% if (title != '') { %>
        <p><%= title %></p>
    <% } else { %>
        <p>No Title Input</p>
    <% } %>
    <% if (summary != '') { %>
        <p><%= summary %></p>
    <% } else { %>
        <p>No Summary Input</p>
    <% } %>
</body>
</html>