<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= path === '/artists' ? 'active' : ''%>">
          <a href="/project"> Artists </a>
        </li>
        <li class="<%= path === '/cart' ? 'active' : ''%>">
            <a href="/project/cart"> Cart </a>
        </li>
        <li class="<%= path === '/admin/add-artist' ? 'active' : ''%>">
          <a href="/project/admin/add-artist"> Add Artist </a>
        </li>
        <li class="<%= path === '/admin' ? 'active' : ''%>">
          <a href="/project/admin"> Admin </a>
        </li>
      </ul>
    </div>
</nav>
  